@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light:wght@300;400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: moccasin;
  color: #000;
  font-family: cursive;
  
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: brown;
  border-bottom: 1px solid #ddd;
}

.navLinks{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

nav .logo {
  display: inline-block;
  color: moccasin;
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
}

nav a{
   text-transform: uppercase;
}

nav a:hover{
  color: moccasin;
}

.cat-img {
  border-radius: 50px;
}

.content {
  text-align: center;
}

.content-catBG{
 position: relative;
 text-align: center;
 background-color: pink;
 padding: 30px;
 width: 60%;
 margin: auto;
 border-left: 5px solid brown;
 border-right: 5px solid brown;

}
